[Desktop Entry]
Encoding=UTF-8
Name=Link to data2.dat
Type=Link
URL=http://www.stuycs.org/courses/apcs2/konstantinovich/announcements/2015-02-10/data2.dat
Icon=application-octet-stream
